solana-indexer:
  image:
    repository: solana-indexer-solana-indexer
  environments:
    APPLICATION_ENVIRONMENT: '{{ include "app.env" $ }}'
    CONSUL_ROOT_PATH: '{{ include "app.env" $ }}/protocol/solana/nft'
    SPRING_PROFILES_ACTIVE: 'solana,consul,{{ include "app.env" $ }},solana-{{ include "app.env" $ }}'
    JAVA_OPTIONS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8000'
  nodeSelector:
    node.labels.rarible.job: true
  updateConfig:
    order: stop-first
  resources:
    jvm:
      xmx_megabytes: 2048
      max_direct_memory_megabytes: 512
  livenessProbe:
    initialDelaySeconds: 180
  podAnnotations:
    fluentbit.io/parser: logfmt

solana-api:
  image:
    repository: solana-indexer-solana-api
  service:
    enabled: true
  environments:
    APPLICATION_ENVIRONMENT: '{{ include "app.env" $ }}'
    CONSUL_ROOT_PATH: '{{ include "app.env" $ }}/protocol/solana/nft'
    SPRING_PROFILES_ACTIVE: 'solana,consul,{{ include "app.env" $ }},solana-{{ include "app.env" $ }}'
    JAVA_OPTIONS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8000'
  nodeSelector:
    node.labels.rarible.job: true
  resources:
    jvm:
      xmx_megabytes: 512
      max_direct_memory_megabytes: 32
  livenessProbe:
    initialDelaySeconds: 180
  podAnnotations:
    fluentbit.io/parser: logfmt

solana-migration:
  image:
    repository: solana-indexer-solana-migration
  environments:
    APPLICATION_ENVIRONMENT: '{{ include "app.env" $ }}'
    CONSUL_ROOT_PATH: '{{ include "app.env" $ }}/protocol/solana/nft'
    SPRING_PROFILES_ACTIVE: 'solana,consul,{{ include "app.env" $ }},solana-{{ include "app.env" $ }}'
  nodeSelector:
    node.labels.rarible.job: true
  restartPolicy:
    condition: on-failure
  resources:
    jvm:
      xmx_megabytes: 512
      max_direct_memory_megabytes: 32
  livenessProbe:
    initialDelaySeconds: 180
  podAnnotations:
    fluentbit.io/parser: logfmt
